/* reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* body fonts */
body {
    font-family: 'Open Sans', sans-serif;
}

/* clearfix and float classes */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

/* bigger and smaller container */
.container-big {
    max-width: 1320px;
    margin: 0 auto;
    position: relative;
}

.container {
    max-width: 1080px;
    margin: 0 auto;
    position: relative;
}

/* text utility classes */
.title-big {
    font-size: 40px;
}

.title-medium {
    font-size: 25px;
}

.title-small {
    font-size: 16px;
}

.text-big {
    font-size: 17px;
}

.text-medium {
    font-size: 15px;
}

.text-small {
    font-size: 13px;
}

.underline {
    text-decoration: underline;
}

.bold {
    font-weight: bold;
}

a {
    color: #0061ff;
}

ul {
    list-style: none;
}

/* buttons utility classes */
.big-button {
    font-size: 17px;
    text-align: center;
    background-color: #0061ff;
    color: white;
    padding: 10px 20px;
}

/* start of navbar */
nav {
    height: 75px;
    width: 100%;
    background-color: white;
    padding: 25px 0; 
    position: fixed;
    z-index: 1001;
}

.nav-element-list, .nav-element-button nav ul {
    display: inline-block;
}

[class^="nav-element-"] {
    margin: 0 20px;
}

.nav-element-list {
    height: 25px;
    line-height: 25px;
}

.small-button {
    background-color: #0061ff;
    color: white;
    padding: 6px 20px;
    position: relative;
    bottom: 3px;
}
/* end of navbar */

/* start of jumbo */
.jumbo {
    background-color: #b4d0e7;
    height: 830px;
}

h1 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 95px;
    line-height: 110px;
    padding-top: 120px;
}

.left-content, .right-content {
    margin-top: 40px;
}

.left-content {
    width: 27%;
}

.right-content {
    width: 73%;
}

.jumbo-element {
    margin-bottom: 25px;
}

.jumbo-element > .big-button {
    margin-bottom: 10px;
    max-width: 70%;
}

.arrow {
    font-size: 60px;
}

.right-content img {
    width: 100%;
    position: relative;
    left: 60px;
}
/* end of jumbo */

/* start of columns section */
main > .container:first-child {
    margin-top: 190px;
}

.subscription-buttons {
    margin: 35px 0;
}

.subscription-buttons label:first-of-type {
    margin-right: 20px;
}

[class^="column-"] {
    width: calc(100% / 3 - 50px);
    border: 1px solid #d0d0d3;
}

.column-2 {
    margin: 0 75px;
}

[class^="category-"] {
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-bottom: 1px solid #d0d0d3;
}

[class^="category-"] img {
    margin-right: 10px;
}

.container-column, .section-content {
    padding: 30px;
}

.container-column .text-big {
    font-weight: bold;
}

.container-column .text-big:first-of-type {
    margin: 15px 0 10px 0;
}

.container-column .text-medium:nth-child(3) {
    height: 40px;
    color: #637381
}

.first-list {
    height: 160px;
    margin: 30px 0;
}

.first-list li:nth-of-type(2) {
    margin: 20px 0;
}

.container-column img {
    height: 16px;
    width: 16px;
    line-height: 16px;
    margin-right: 5px;
}

.container-column .item {
    display: inline-block;
}

.first-list .item {
    width: calc(100% - 21px);
}

.purchase-link {
    padding-top: 20px;
}

.container-column hr {
    width: 50px;
    margin: 30px 0 30px 0;
    border: none;
    border-top: 1px solid #bfbfbf;
}

.container-column .text-big:last-of-type {
    margin-bottom: 20px;
}

.second-list {
    height: 260px;
}

.second-list li:not(.second-list li:first-child) {
    margin-top: 15px;
}

.check {
    width: 15px;
    color: #0061ff;
    margin-right: 5px;
}

.second-list .item {
    width: calc(100% - 20px);
}

.box-1 {
    border: 1px solid #d0d0d3;
    margin: 60px 0;
}

.section-left-content {
    width: calc(100% - (100% / 3 - 50px));
}

.section-right-content {
    width: calc(100% / 3 - 50px);
}

.section-left-content .text-big {
    font-weight: bold;
    margin: 20px 0;
}

.box-2 {
    margin-top: 120px;
    position: relative;
    height: 482px;
}

.box-2-image {
    width: calc(55% - 30px);
    margin-right: 30px;
}

.box-2-text {
    width: calc(45% - 30px);
    margin-left: 30px;
    position: absolute;
    right: 0;
    top: 241px;
    transform: translate(0, -50%);
}

.box-2-text > p {
    margin: 25px 0;
}

.box-2-button {
    width: 40%;
    font-size: 17px;
    text-align: center;
    background-color: white;
    color: black;
    padding: 10px 20px;
    border: 1px solid black;
}

.box-3 {
    margin: 120px 0 100px 0;
}

.box-3-item {
    width: calc(100% / 3 - 30px);
}

.box-3-image {
    width: 100%;
    margin-top: 50px;
}

.box-3-title {
    font-size: 30px;
    line-height: 32px;
    margin: 25px 0;
}

.box-3-text {
    height: 180px;
}

.box-3-item:nth-child(3n+2) {
    margin: 0 45px;
}

.box-4 > .title-big {
    width: 54%;
    line-height: 45px;
}

.clients-link {
    margin: 25px 0 50px 0;
}

[class^="colored-container-"] {
    width: calc((100vw - 16.8px) / 3);
    height: calc((100vw - 16.8px) / 3);
}

[class^="small-container-"] {
    width: 50%;
    height: 50%;
}

.small-container-1 {
    background-color: #a2d39b;
}

.small-container-2 {
    background-color: #61082b;
}

.small-container-3 {
    background-color: #0093ce;
}

.small-container-4 {
    background-color: #ff1c1c;
}

.box-5 img:not(.img-container > img) {
    width: 60%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: invert(100%);
} 

.colored-container-2 {
    background-color: #f5f5f5;
}

.img-container {
    width: 100%;
    height: calc(100% / 3);
    padding-left: 50px;
}

#central-image {
    width: 25%;
    padding: 60px 0 30px 0;
}

.colored-container-2 hr {
    width: 55px;
    border: none;
    border-top: 1px solid #bfbfbf;
}

.text-container {
    max-width: 80%;
    margin: 60px auto;
}

.text-container > .text-medium {
    margin-top: 45px;
}

.small-container-5 {
    background-color: #d5001f;
}

.small-container-6 {
    background-color: #b4d0e7;
}

.small-container-7 {
    background-color: #0d2481;
}

.small-container-8 {
    background-color: #ffd830;
}

.box-6 {
    height: 330px;
    background-color: #b4d0e7;
}

.box-6 .container {
    padding: 120px 0;
}

.box-6 .title-big {
    color: #61082b;
    line-height: 45px;
    width: calc(65% - 80px);
    margin-right: 80px;
}

.box-6-button {
    width: calc(35% - 80px);
    font-size: 17px;
    text-align: center;
    background-color: white;
    color: black;
    padding: 10px 20px;
    margin-left: 80px;
}

.box-7 {
    padding: 150px 0;
    
}

.box-7-title {
    font-size: 32px;
    font-weight: bold;
}

.faq {
    margin-top: 50px;
}

.faq-row {
    position: relative;
    height: 85px;
    border-top: 1px solid #d0d0d3;
}

.faq-row:last-child {
    border-bottom: 1px solid #d0d0d3;
}

.question {
    display: inline-block;
    line-height: 85px;
}

.open-faq {
    display: inline-block;
    font-size: 25px;
    position: absolute;
    right: 40px;
    top: 50%;
    transform: translate(0, -50%);
}

footer {
    height: 660px;
    background-color: black;
}

.footer-box {
    padding: 150px 0;
}

.footer-column {
    width: calc(100% / 5 - 28px);
    color: white;
    padding-bottom: 100px;
}

.footer-column:nth-child(even) {
    margin: 0 35px;
}

.footer-column h4 {
    font-weight: bold;
    margin-bottom: 25px;
}

.footer-column li:not(.footer-column li:last-child) {
    margin-bottom: 15px;
}

.footer-line {
    width: 100px;
    border: none;
    border-top: 1px solid white;
}

.language-selection{
    padding-top: 40px;
}

.language-selection img {
    filter: invert(100%);
    width: 22px;
    vertical-align: middle;
}

.language-selection .text-small {
    display: inline-block;
    color: #666;
    font-weight: bold;
}